@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.hero-div{
    margin:0px 0px 0px 150px;
}

.blue-hero{
  color: rgb(36, 149, 36);

}

.home-hero{
    background-image: url('../../assets/homebg.svg');
    width: 100vw;
    height: 100vh;
    position: sticky; 
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.syncLogoDiv{
    display: none;
}


.gray-hero{
     color: red;
}
.syncAITdesigned{
    width: 400;
}


.hero{
    width: 45vw;
    /* margin-left: 100px; */
    line-height: 40px;
    text-align: left;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 36px;
}


.hero-btn{
    border: 1px solid #5b6a7a;
    margin:0px 10px 20px 0;
    width: 200px;
    padding: 2px 6px;
    border-radius: 20px;
    font-size: 16px;
}

@media (max-width: 900px) {

.clubCollection{
width: 100vw;
object-fit: none;
display: none;


}
.clubCollectionDiv{
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero-div{
    /* background-image: "./assets/clblogos/clublogos.svg"; */
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.home-hero{
    background: none;
}
.clubCollectionDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-btn-div{
    justify-content: center;
    
}
.hero-btn{
    font-size: 18px;
    margin: 10px 0 10px 0;
    scale: 0.8;
    padding: 8px 10px;
}

.hero{
    font-weight: 600;
    width: 70vw;
    text-align: center;
}
.page-head{
    flex-direction: column;
}

.secondary-hero-div{
    padding: 7px;
}

.syncAITdesigned{
    margin-top:-10px;
    width: 350px;
    margin: 10px;
}
   

}

