* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #ffffff;
    padding: 30px;
}

.outer-container {
    background: #eeeeee;
    border-radius: 16px;
    padding: 30px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.title {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

hr {
    margin: 15px 0 25px;
    border: none;
    height: 2px;
    background: #bdbdbd;
}

.card {
    background: #faf7f2;
    border-radius: 14px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    background: #6c5b74;
    color: white;
    border-radius:20px;
}

th {
    padding: 14px;
    text-align: left;
    font-weight: 600;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

td {
    padding: 14px;
    border-bottom: 1px solid #e0e0e0;
}

tbody tr:last-child td {
    border-bottom: none;
}


.status {
    padding: 6px 14px;
    border-radius: 18px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

.complete {
    background: #1faa00;
}

.pending {
    background: #e60000;
}

.ongoing {
    background: #f4b400;
}
